@charset "UTF-8";
.date{
color: red;
 text-align: center;
}

body {
	padding: 0;
	margin: 0;
	font-family: 微软雅黑, 文泉译正黑, 宋体, 仿宋;
}

.text {
	font-family:  微软雅黑, 文泉译正黑, 宋体, 仿宋;
	color: red;
}

#about {
	font-family:  微软雅黑, 文泉译正黑, 宋体, 仿宋;
	color: red;
}

#about1 {
	font-family:  微软雅黑, 文泉译正黑, 宋体, 仿宋;
	color: red;
}

div, p, h1, h2, a, span {
	font-family: Arial;
	font-weight: bold;
}

header {
	padding-top: 16px;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

#gamePanel {
	margin: 0 auto;
	width: 500px;
	position: relative;
}

#gridPanel {
	width: 480px;
	height: 480px;
	background: #BBADA0;
	border-radius: 10px;
	padding: 20px 0 0 20px;
	position: relative;
}

#gamePanel p {
	padding: 8px;
}

.button {
	display: inline-block;
	padding: 10px;
	background: #9F8B77;
	border-radius: 6px;
	color: #FFF;
	cursor: pointer;
}

.grid, .cell {
	width: 100px;
	height: 100px;
	border-radius: 6px;
}

#gamePanel .grid {
	background-color: #ccc0b3;
	float: left;
	margin: 0 20px 20px 0;
}

.cell {
	position: absolute;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
	font-size: 60px;
	color: #776E65;
}

#cell00, #cell01, #cell02, #cell03 {
	top: 20;
}

#cell10, #cell11, #cell12, #cell13 {
	top: 140px;
}

#cell20, #cell21, #cell22, #cell23 {
	top: 260px;
}

#cell30, #cell31, #cell32, #cell33 {
	top: 380px;
}

#cell00, #cell10, #cell20, #cell30 {
	left: 20px;
}

#cell01, #cell11, #cell21, #cell31 {
	left: 140px;
}

#cell02, #cell12, #cell22, #cell32 {
	left: 260px;
}

#cell03, #cell13, #cell23, #cell33 {
	left: 380px;
}

.num8, .num16, .num32, .num64, .num128, .num256, .num512, .num1024,
	.num2048, .num4096, .num8192 {
	color: #fff;
}

.num1024, .num2048, .num4096, .num8192 {
	font-size: 40px;
}

.num2 {
	background: #eee4da;
}

.num4 {
	background: #ede0c8;
}

.num8 {
	background: #f2b179;
}

.num16 {
	background: #f59563;
}

.num32 {
	background: #f67c5f;
}

.num64 {
	background: #f65e3b;
}

.num128 {
	background: #edcf72;
}

.num256 {
	background: #edcc61;
}

.num512 {
	background: #9c0;
}

.num1024 {
	background: #33b5e5;
}

.num2048 {
	background: #09c;
}

.num4096 {
	background: #a6c;
}

.num8192 {
	background: #93c;
}

#gameOver {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#gameOver div {
	width: 100%;
	height: 100%;
	background: #555;
	filter: alpha(Opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#gameOver p {
	position: absolute;
	top: 150px;
	left: 100px;
	border-radius: 10px;
	width: 300px;
	border: 1px solid #EDCF72;
	background: #fff;
	line-height: 1.6em;
	font-size: 30px;
	color: #000;
	text-align: center;
}